:root { 
--green_300:#89c06f; 
--gray_50_01:#fafcff; 
--gray_50_02:#f8f9fa; 
--gray_50_03:#f4f8ff; 
--black_900_b2:#000000b2; 
--gray_50_04:#fafafa; 
--gray_50_05:#f5f9ff; 
--gray_800_49:#3c3c4349; 
--blue_A200:#588af1; 
--red_400:#f14a60; 
--gray_300_99:#e4e4e499; 
--black_900_01:#090b0d; 
--black_900_00:#00000000; 
--yellow_800:#d4ac1c; 
--blue_gray_700:#424c5d; 
--blue_gray_900:#262b35; 
--black_900_03:#000919; 
--black_900_02:#130e00; 
--red_A200_01:#fd6161; 
--black_900_04:#0b0a0a; 
--black_900_4c:#0000004c; 
--blue_900:#003995; 
--blue_gray_100:#d6dae2; 
--gray_700_b7:#626262b7; 
--black_900_4d:#0000004d; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--red_A200:#ff4b4b; 
--blue_gray_400_90:#74839d90; 
--amber_700:#f7a301; 
--black_900_0c:#0000000c; 
--gray_800_99:#3c3c4399; 
--gray_600_26:#6d6d6d26; 
--blue_50:#e0ebff; 
--gray_800_0c:#4646460c; 
--blue_A700_4c:#0061ff4c; 
--blue_gray_400_01:#75839d; 
--white_A700:#ffffff; 
--blue_gray_50:#eaecf0; 
--red_700:#d03329; 
--blue_A700:#0061ff; 
--blue_gray_100_01:#ced4da; 
--blue_gray_100_02:#d9d9d9; 
--gray_600_19:#7e7e7e19; 
--green_600:#349765; 
--blue_A700_01:#0a58ff; 
--gray_50:#f9fbff; 
--green_400:#56c568; 
--blue_gray_200_00:#bac1ce00; 
--black_900_66:#00000066; 
--black_900:#000000; 
--blue_A200_01:#4d90ff; 
--yellow_900:#ed8c33; 
--blue_gray_800:#363853; 
--blue_50_02:#eef4ff; 
--blue_50_01:#e0ecff; 
--gray_700_11:#55555511; 
--gray_900_02:#14132a; 
--gray_900_03:#2a2a2a; 
--blue_gray_200:#bac1ce; 
--gray_900_04:#151522; 
--gray_500:#979ea5; 
--blue_gray_400:#74839d; 
--blue_800:#0051d5; 
--blue_gray_600:#5f6c86; 
--indigo_50:#e9eef8; 
--orange_A700:#ff6700; 
--gray_900:#0d1624; 
--gray_900_01:#11142d; 
--blue_gray_300_87:#919eab87; 
--gray_300:#dfdfdf; 
--blue_gray_800_01:#3d455b; 
--white_A700_00:#ffffff00; 
--blue_gray_100_4c:#d9d9d94c; 
--blue_200:#a6c8ff; 
--gray_800_2b:#4545452b; 
}